<html lang="pt-br">
	<head>
		<title> AUGUSTO NEWS</title>
		<meta charset="UTF-8">
	</head>
	    <title> AUGUSTO NEWS</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/estilos.css">
	</head>
<body> 
	<h1>AUGUSTO NEWS</h1>
	<h3>its better to speak or to die?</h3>
	<hr>
	<p>Call Me By Your Name</p>
	<p>Call Me by Your Name é um filme de drama de 2017 dirigido por Luca Guadagnino
		e escrito por James Ivory, baseado na obra homônima de André Aciman. É o terceiro 
		e último ato da trilogia "Desire" de Guadagnino, seguido de I Am Love (2009) e A 
		Bigger Splash (2015). Estrelado por Timothée Chalamet, Armie Hammer e Michael Stuhlbarg, 
		teve sua primeira exibição no Festival de Cinema de Sundance em 22 de janeiro de 2017. 
		Tendo como cenário o norte da Itália em 1983, Call Me by Your Name centra-se no romance entre Elio 
		Perlman (Timothée Chalamet), um adolescente de 17 anos vivendo na Itália, e o assistente acadêmico 
		Oliver (Armie Hammer), de origem americana.</p>
		
		<p>O filme vinha sendo desenvolvido desde 2007, quando os produtores Peter Spears 
		e Howard Rosenman adquiriram os direitos de uma adaptação da obra de Aciman. James 
		Ivory inicialmente iria co-dirigir o filme, porém acabou por trabalhar no roteiro e 
		co-produção. Guadagnino, que atuou como consultor de locação, tornou-se diretor solo 
		em 2016. O filme foi financiado através de uma variedade de fontes internacionais. 
		A fotografia principal teve lugar em Crema, Itália em maio e junho de 2016. 
		O diretor de fotografia Sayombhu Mukdeeprom rodou o filme em 35 mm.</p>
		
		<p>Antes da premier mundial no Sundance Film Festival, em 22 de janeiro de 2017, 
		Call Me by Your Name foi distribuído pela Sony Pictures Classics. Teve sua estreia 
		no Reino Unido em 27 de outubro de 2017 e nos Estados Unidos em 24 de novembro de 2017 
		e em Portugal a 18 de Janeiro de 2018. No Brasil, a estreia é prevista para 18 de janeiro 
		de 2018. O filme foi aclamado pela crítica especializada, que elogiou as atuações, roteiro, 
		direção e música. Foi considerado como um dos 10 melhores filmes do ano pelo National Board of 
		Review e American Film Institute. Na 75ª edição da Premiação do Globo de Ouro, foi nomeado 
		como Melhor Filme de Drama, Melhor Ator em Filme de Drama para Timothée Chalamet, e Melhor Ator 
		Coadjuvante para Armie Hammer. Na 24ª edição da Premiação Screen Actors Guild, foi nomeado para 
		Melhor Performance de Ator Principal para Chalamet. Além de indicação para quatro Oscar, sendo eles: 
		Melhor Filme, Melhor Ator para Chalamet, de 22 anos (o terceiro mais jovem indicado na categoria), 
		Melhor Música Original e Melhor Roteiro Adaptado, vencendo esse último. Desde então, é agora considerado 
		um dos melhores filmes do século XXI.</p>
		
		<img class= "image" src= "../imagens/cmbyn.jpeg">
		
	<hr>
	<p>Desenvolvido por: Augusto Gilioli</p>
	
</body>
</html>